*
{
    margin:0px;
    padding:0px;
    color: yellow;
}
body
{
  background-color: black;
  background-image: url("../images/gray-wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#timerdiv{
  display: flex;
  justify-content: space-between;
}

section
{
    color:black;
    background-color: transparent;
    margin-top:5vh;
    height:80vh;
    width:75vw;
    margin-right: auto;
    margin-left: auto;
    padding:10px;
    border-radius: 20px;
    opacity: 0.3;
    outline:solid yellow;
}
#highscorediv
{
    height:10vh;
    display:flex;
    justify-content: space-between;
    width: 100%;
}
#score a
{
    text-decoration: none;
    font-weight: 900;
}


button
{
    cursor: pointer;
    color:yellow;
    background-color: black;
    padding: 2px 8px;
    border-radius: 5px;
}

button:hover
{
  transform: scale(1.1);
}


.hide 
{
    display: none;
}

.choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
    background-color: black;
    color: yellow;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: black;
  }

  .feedback {
    font-style: italic;
    font-size: 3em;
    font-weight: 1000;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid yellow;
  }