*
{
    margin:0px;
    padding:0px;
    color: yellow;
}
body
{
  background-color: black;
  background-image: url("../images/gray-wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
section
{
    color:black;
    background-color: transparent;
    margin-top:5vh;
    height:80vh;
    width:75vw;
    margin-right: auto;
    margin-left: auto;
    padding:10px;
    border-radius: 20px;
    opacity: 0.3;
    outline:solid yellow;
}
#highscorediv
{
    height:10vh;
    display:flex;
    justify-content: space-between;
    width: 100%;
}
#score a
{
    text-decoration: none;
    font-weight: 900;
}

#start_screen
{
   text-align: center;
}

button
{
    cursor: pointer;
    color:yellow;
    background-color: black;
    padding: 2px 8px;
    border-radius: 5px;
}

button:hover
{
  transform: scale(1.1);
}

